{{#each results}}
<div class="contentbysearchlite-basic">
    {{#each Cells}}
    <div class="contentbysearchlite-basic-item">
        <div class="contentbysearchlite-basic-column-left"><p>{{Key}}</p></div>
        <div class="contentbysearchlite-basic-column-middle"><p>{{Value}}</p></div>
        <div class="contentbysearchlite-basic-column-right"><p>{{ValueType}}</p></div>
    </div>
    {{/each}}
</div>
{{/each}}
